@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
    url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
    url('../fonts/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
    url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'),
    url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}