/*==========================
      Project Base
==========================*/

/*==========================
      Universal CSS
==========================*/

input:focus, a:focus, button:focus, textarea:focus {
  outline: none ;
}
.displayInlineTop {
  display: inline-block;
  vertical-align: top;
}
.displayBlock100 {
  display: block;
  width: 100%;
}
textarea,
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="tel"],
select {
  height: 44px;
  font-size: 18px;
  padding: 0 26px;
  border-radius: 10px;
  border-color: #ececec;
  background: #ececec;
  &:focus{
    outline: none;
    box-shadow: none;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: auto auto;
  &:focus {
    outline: none;
  }
}
select::-ms-expand {
  display: none;
}

textarea {
  height: auto;
  min-height: 90px;
  padding-top: 11px;
  resize: none;
}

input::-webkit-input-placeholder    {opacity:1; }
input:-moz-placeholder              {opacity:1; }
input::-moz-placeholder             {opacity:1; }
input:-ms-input-placeholder         {opacity:1; }

textarea::-webkit-input-placeholder    {opacity:1; }
textarea:-moz-placeholder              {opacity:1; }
textarea::-moz-placeholder             {opacity:1; }
textarea:-ms-input-placeholder         {opacity:1; }



input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

/*Unique input layout style*/
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  /*margin-left  : -28px;
  padding-left : 28px;*/
  line-height  : 24px;
  width: 24px;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.paddingTop0 {padding-top: 0;}
