// Import helpers from directional.scss
@import "bootstrap/bootstrap";
@import "directional";
@import "common";
@import "slick";

@font-face {
  font-family: 'LucidaGrande';
  src:url('../fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'),
      url('../fonts/LucidaGrande.woff') format('woff'),
      url('../fonts/LucidaGrande.ttf')  format('truetype'),
      url('../fonts/LucidaGrande.svg#LucidaGrande') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal-Regular";
  src: url("../fonts/Tajawal-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Tajawal-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Tajawal-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Tajawal-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Tajawal-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Tajawal-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Tajawal-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GEDinkum-Regular';
      src: url('../fonts/GEDinkum-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GEDinkum-Regular.woff') format('woff'),
      url('../fonts/GEDinkum-Regular.ttf')  format('truetype'),
      url('../fonts/GEDinkum-Regular.svg#GEDinkum-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Use the helpers to make CSS for LTR or RTL
body {
  direction: if-rtl(rtl,ltr);
  background-color: $white;
  line-height: 20px;
  color: #4a4a4a;
  visibility: visible !important;
  font-family: "Tajawal-Regular";
}
ul,ol,li,form {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover {
  @include transition(all, 0.5s, ease-in);
  //color: $darkGray;
}
body, html {
  height: 100%;
  min-height: 100%;
}
a[href^=tel] { color: inherit; text-decoration: none; }
select {
  background-position: if-ltr(right, left) center;
}

  /*======================================
      Bootstrap css for START
  ======================================*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: $left;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: $left;
  }
}

.pull-left  {float: $left !important;}
.pull-right {float: $right !important;}
.pull-none  {float: none !important;}
.text-left  {text-align: $left;}
.text-right {text-align: $right;}
/*======================================
    Bootstrap css for  END
======================================*/
.btn{
  border:0;
  box-shadow: none;
  border-radius: 10px;
  transition: all 0.3s linear;
  &:hover,
  &:focus,
  &:active{
    outline: none;
    box-shadow: none;
  }
}

.btn-primary{
  padding: 12px;
  min-width: 132px;
  @include font(20,24);
  background: #4a4a4a;
  transition: all 0.3s linear;
  &:hover,
  &:focus,
  &:active,
  &.active:focus{
    outline: none;
    box-shadow: none;
    background: $orange;
    transition: all 0.3s linear;
  }
  &.green{
    padding: 9px;
    min-width: 167px;
    background: $green;
    &:hover,
    &:active:focus{
      background: #7B9941;
    }
  }
}

.btn-default{
  padding: 12px;
  min-width: 132px;
  @include font(20,24);
  transition: all 0.3s linear;
}

h2{
  @include font(26,30,700);
  text-transform: uppercase;
}

/*======================================
    Common Css  END
======================================*/
.pp{
  opacity: 0.6;
  z-index: 2;
  height: 500%;
  pointer-events: none;
  @include absolute(0,0,0,0);
  background: url(../images/home.jpg) no-repeat;
}

.slick-slider{
  direction: ltr;
}

#wrapper{
  overflow: hidden;
  position: relative;
}
/*======================================
        Header  END
======================================*/
#header{
  z-index: 2;
  padding: 30px 0 24px;
  @include absolute(0, if-ltr(0,0), auto, if-rtl(0,0));
  background: rgba($color: #ffffff, $alpha: 0.9);

  .holder{
    &:after{
      content: '';
      clear: both;
      display: block;
    }
  }

  .nav-opener{
    top: auto;
    bottom: 13px;
    #{$right}:0;
    color: $orange;
    display: none;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    @media (max-width:767px){
      display: block;
    }
    @media (max-width:639px){
      bottom: 0;
    }
  }

  .nav-close{
    #{$right}:0;
    color: $orange;
    display: none;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    @media (max-width:767px){
      display: block;
    }
    @media (max-width:639px){
      margin: 0;
      top: 23px;
      #{$right}:10px;
      position: absolute;
    }
  }

  .logo{
    float:$left;
    width: 273px;
    margin: if-ltr(22px 0 -17px -3px), if-rtl(22px -3px -17px 0);
    a{
      display: block;
    }
    img{
      @include img-responsive;
    }
  }

  .contact-info{
    float: $left;
    padding: 0 6%;
    max-width: 490px;
  }

  .tel{
    text-align: $left;
    margin: 0 0 21px;
    a{
      position: relative;
      @include font(14,20);
      display: inline-block;
      padding-#{$left}:30px;
      letter-spacing: 0.5px;
      font-family: 'Open Sans', sans-serif;
      &:after{
        content: '';
        @include size(21px,21px);
        transform:if-ltr(scaleX(-1), scaleX(1));
        @include absolute(0,if-rtl(0,auto),auto,if-ltr(0,auto));
        background: url(../images/ico-tel.png) no-repeat;
      }
      &:before{
        content: '';
        @include absolute(auto,if-rtl(15px, 0),-1px,if-ltr(15px, 0));
        border-bottom: 1px solid $green;
      }
    }
  }

  .left-panel{
    width: 290px;
    float: $right;
  }

  .waranty-logo{
    float: $left;
    width: 87px;
    margin: -30px 0 0;
    img{
      @include img-responsive;
    }
  }

  .brands{
    overflow: hidden;
    margin: 0 0 12px;
    text-align: $right;
    li{
      margin-#{$left}:13px;
      @include inline();
      margin-bottom: 10px;
      a{
        display: block;
        height: auto;
      }
      img{
        @include img-responsive;
      }
    }
  }

  .info{
    float: $right;
    margin: 0 -10px;
    text-align: $right;
    li{
      @include inline();
      padding:0 13px;
    }
    a{
      text-decoration: none;
      &:hover{
        color: $green;
      }
    }
    .contact{
      color: $black;
      @include font(14,18);
      font-family: 'GEDinkum-Regular';
    }
    .btn-search{
      font-size: 0;
      line-height: 0;
      @include size(20px,20px);
      @include inline();
      overflow: hidden;
      text-indent: 9999px;
      background: url(../images/ico-search.png) no-repeat;
    }
    .lang{
      color: $orange;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .btn-holder{
    a{
      min-width: 162px;
      margin-left: 11px;
      position: relative;
      @include font(20,24);
      padding: if-rtl(9px 38px 10px 17px), if-ltr(9px 17px 10px 38px);
      &.orange{
        background: $orange;
        &:after{
          top: 8px;
          left: auto;
          #{$left}: 8px;
          background: url(../images/embrace.png) no-repeat;
        }
      }
      &.green{
        background: $green;
        &:after{
          background: url(../images/donation.png) no-repeat;
        }
      }
      &:after{
        content: '';
        @include size(27,27);
        @include absolute(9px, if-ltr(auto,14px), auto, if-rtl(auto,14px));
      }
    }
  }
}

#header #nav{
  .contact-info{
    float: none;
    display: none;
    padding: 20px 10px;
    @media (max-width:639px) {
      display: block;
    }
    .btn-holder{
      @media (max-width:639px) {
        display: block;
      }
      margin: 0 -1%;
      a{
        margin: 0 1%;
      }
    }
  }
}

#nav{
  text-align: $left;
  position: relative;
  padding: if-ltr(22px 0 6px 4.6%), if-rtl(22px 4.6% 6px 0);
  &:after{
    content: '';
    height: 1px;
    background: $green;
    @include absolute(0, if-ltr(0,280), auto, if-rtl(0,280));
  }
  >ul{
    @include font(20,26,700);
    font-size: if-ltr(18px);
    > li{
      @include inline();
      position: relative;
      padding: 0 2.4%;
      padding: if-ltr(0 1.7%);
      &:hover > ul{
        opacity: 1;
        transform: none;
      }
      &:hover a:after{
        display: block;
      }
      >a{
        color: $black;
        padding: 0 0 15px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        transition: all 0.3s linear;
        &:hover:after{
          display: block;
          transition: all 0.3s linear;
        }
        &.active:after{
          display: block;
        }
        &:after{
          width: 0;
          height: 0;
          content: '';
          display: none;
          margin-left: -3px;
          border-style: solid;
          border-width: 8px 7px 0;
          transition: all 0.3s linear;
          border-color: $orange transparent transparent;
          @include absolute(auto,auto,0,50%);
        }
      }
      >ul{
        opacity: 0;
        width: 134px;
        padding: 15px;
        padding: if-ltr(11px);
        text-align: center;
        position: absolute;
        margin-left: -67px;
        transform: translateY(50%);
        @include font(14,18,400);
        font-size: if-ltr(13px);
        transition: all 0.3s linear;
        background: rgba(250,250,250,0.9);
        @include absolute(100%,auto,auto,50%);
        >li{
          padding: 5px 0;
          border-top: 1px solid #f2ddbb;
          &:first-child{
            border: 0;
          }
          >a{
            color: #4A4A4A;
            text-decoration: none;
            &:hover{
              color: $orange;
            }
          }
        }
      }
    }
  }
}

/*======================================
        Footer  END
======================================*/

/*======================================
      Home page Main Section
=======================================*/
.visual{
  overflow: hidden;
  position: relative;
}
.main-gallery{
  direction: ltr;
  .slick-slide{
    height: auto;
    position: relative;
  }
  .slick-slide img{
    width: 100%;
    @include img-responsive;
  }
  .slick-next,
  .slick-prev{
    border:0;
    padding: 0;
    z-index: 2;
    color: #fff;
    background: none;
    border-radius: 50%;
    text-align: center;
    @include font(24,40);
    @include size(40px,40px);
    transition: all 0.3s linear;
    @include absolute(60%,auto,auto,50px);
    &:hover{
      background: $orange;
    }
  }
  .slick-next{
    left: auto;
    right: 50px;
  }

  .gallery-title{
    z-index: 2;
    text-align: center;
    @include absolute(48.4%,10%,auto,10%);
    .holder{
      margin:0 auto;
      max-width: 490px;
    }
    h2{
      margin:0;
      color: $white;
      @include font(50,60,700);
    }
  }
}

.quotes-gallery{
  color: $white;
  direction: ltr;
  padding: 20px 0 40px;
  @include absolute(auto,0,0,0);
  background: rgba($color: #000, $alpha: 0.8);
  .slick-slide{
    height: auto;
    position: relative;
    direction: if-rtl(rtl);
  }
  .logo{
    padding: 0 15px;
    @include inline();
  }
  .text{
    width: 78%;
    @include inline();
    text-align: $left;
    padding: 10px 15px;
    @include font(18,24);
    border-#{$left}: 1px solid #fff;
  }
  p{
    margin:0;
  }
  .slick-dots{
    padding: 0 20px;
    text-align: center;
    @include absolute(auto,0,20px,0);
    li{
      padding: 0 5px;
      @include inline();
      &.slick-active{
        button{
          width: 12px;
          height: 12px;
          border: 2px solid $green;
        }
      }
    }
    button{
      border: 0;
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      text-indent: -9999px;
      transition: all 0.3s linear;
    }
  }
}

.intro-section{
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  padding-bottom: 217px;
  &:after{
    content:'';
    @include size(850px,910px);
    @include absolute(0,-200px,auto,auto);
    background: url(../images/shape1.png) no-repeat;
  }
  .column{
    padding: 0;
    img{
      width: 100%;
      display: block;
    }
  }
  .description{
    text-align: $left;
  }
  .text{
    max-width: 500px;
    padding: 50px 20px 23px;
  }
  h1{
    margin:0 0 20px;
    @include font(36,42,700);
  }
  .sub-title{
    @include font(24,30);
  }
  .know-more{
    color: $white;
    padding: 23px 20px 50px;
    background: $green url(../images/pattern.png);
    @include font(20,30);
    p{
      max-width: 500px;
      margin: 0 0 44px;
    }
  }
}

.video-section{
  float: left;
  width: 100%;
  clear: both;
  margin: -63px 0 0;
  position: relative;
  .holder{
    margin: 0 auto;
    max-width: 958px;
    background: $orange;
  }
  .description{
    color: #fff;
    padding: 20px;
    float: $left;
    width: 40.9%;
    text-align: $left;
    @include font(24,30);
    padding: if-ltr(35px 20px 34px 40px), if-rtl(35px 40px 34px 20px);
    p{
      margin: 0 0 20px;
    }
  }
  h3{
    margin: 0 0 28px;
    @include font(24,30,700);
  }
  .btn-default{
    color: $white;
    border: 1px solid #fff;
    &:hover,
    &:focus{
      color: $orange;
      background: $white;
      transition: all 0.3s linear;
    }
  }

  .video-block{
    overflow: hidden;
    position: relative;
    background: #000;
    iframe{
      border:0;
      width: 100%;
      height: 346px;
    }
    img{
      @include img-responsive;
    }
  }

  .btn-play{
    @include size(96px);
    margin: -48px 0 0 -48px;
    @include absolute(50%,auto,auto,50%);
    background: url(../images/ico-play.png) no-repeat;
  }
}

.partners-section{
  width: 100%;
  padding: 61px 0;
  overflow: hidden;
  position: relative;
  .holder{
    margin: 0 auto;
    max-width: 958px;
  }
  h2{
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 94px;
    text-align: center;
  }
}

.partners-gallery{
  direction: ltr;
  position: relative;
  padding: 0 90px;
  .slick-slide{
    height: auto;
    position: relative;
    img{
      @include img-responsive;
    }
  }
  .logo-holder{
    width: 178px;
    height: 178px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #979797;
    img{
      @include img-responsive;
    }
  }
  .slick-next,
  .slick-prev{
    border:0;
    padding: 0;
    z-index: 2;
    color: #000;
    background: none;
    margin: -20px 0 0;
    border-radius: 50%;
    text-align: center;
    @include font(24,40);
    @include size(40px,40px);
    transition: all 0.3s linear;
    @include absolute(50%,auto,auto,0);
    &.slick-disabled{
      opacity: 0.5;
    }
    &:hover{
      color: #fff;
      background: $orange;
    }
  }
  .slick-next{
    left: auto;
    right: 0;
  }
}

.donate-section{
  text-align: center;
  direction: if-rtl(ltr);
  padding: 124px 0 86px;
  h2{
    margin: 0 0 62px;
  }
  .column{
    padding-bottom: 20px;
  }
  .ico{
    width: 70px;
    margin: 0 auto 18px;
    img{
      @include img-responsive;
    }
  }
  h3{
    margin: 0;
    @include font(24,30,400);
  }
  .sub-title{
    font-family: 'Open Sans', sans-serif;
  }
}

.newsletter-from{
  overflow: hidden;
  padding: 24px 0 16px;
  border-top: 2px solid #979797;
  .holder{
    margin: 0 -1%;
    overflow: hidden;
  }
  .column{
    float: $left;
    padding: 0 1%;
    &.add{
      width: 30%;
    }
  }
  .form-control{
    height: 44px;
    font-size: 18px;
    padding: 0 26px;
    border-radius: 10px;
    border-color: #ececec;
    background: #ececec;
    &:focus{
      outline: none;
      box-shadow: none;
    }
  }
  h3{
    margin: 0;
    color: #2E2E41;
    min-width: 239px;
    text-align: $left;
    padding-top: 6px;
    font-size: 24px;
    padding-#{$right}:2%;
  }
  .btn-primary{
    padding: 10px;
    min-width: 173px;
  }
}

.banner{
  height: 453px;
  background-size: cover;
  background-repeat: no-repeat;
}

#main{
  padding: 55px 0;
  overflow: hidden;
}

#sidebar{
  float: $left;
  width: 177px;
  padding-#{$right}:10px;
  ul{
    @include font(20,26);
    text-align: $left;
    font-size: if-ltr(18px);
    li{
      &:first-child a{
        border:0;
      }
      a{
        padding: 10px 0;
        color: #4A4A4A;
        min-width: 110px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        border-top: 1px solid #fdeac9;
        &.active:after{
          display: block;
        }
        &:after{
          top: 50%;
          width: 0;
          height: 0;
          content: '';
          display: none;
          #{$left}:-20px;
          margin: -2px 0 0;
          position: absolute;
          border-style: solid;
          margin: if-ltr(-6px 0 0);
          border-width: 6px 8px 6px 0;
          border-color: transparent $orange transparent transparent;
          transform: rotate(if-ltr(180deg));
        }
        &.active,
        &:hover{
          color: $orange;
        }
        &.active{
          font-weight: bold;
        }
      }
    }
  }
}

#content{
  overflow: hidden;
  min-height: 300px;
  padding-#{$left}:20px;
  border-#{$left}:1px solid #ccc;
  .align-left{
    float: $right;
    width: 50%;
    margin-#{$left}:2%;
    &.ceo{
      width: 231px;
      text-align: $left;
    }
  }
  .description{
    overflow: hidden;
    text-align: $left;
  }
  h2{
    color: $green;
    margin: 0 0 20px;
    @include font(18,22,700);
  }
  .text-block{
    margin: 0 0 50px;
  }
  h3{
    @include font(18,22,700);
  }
  .sub-title{
    display: block;
    margin: 0 0 10px;
    @include font(14,18);
  }
  .bod-section h3{
    @include font(17,22,700);
  }

  .text-description{
    overflow: hidden;
    text-align: $left;
    h2{
      color: $orange;
    }
  }

  .volunter-form{
    max-width: 765px;
    .column{
      padding-bottom: 13px;
    }
    .radio-fields{
      margin: 0 0 20px;
      label{
        margin: 0;
        min-width: 100px;
      }
    }
    input[type="checkbox"],
    input[type="radio"]{
        position:fixed;
        left:0;
        top:0;
        opacity:0;
        z-index: -1;
    }
    .fake-input{
      @include size(16px,16px);
      @include inline();
      border:1px solid #bbb;
      background:#f8f8f8;
      position: relative;
      margin-#{$right}: 5px;
      &.checkbox{
        border-radius: 4px;
        @include size(20px,20px);
      }
    }
    input[type=radio] + .fake-input{border-radius:100%;}
    input[type="checkbox"] + .fake-input:before,
    input[type="radio"] + .fake-input:before{
      content:'';
      background: $orange;
      border-radius:100%;
      opacity: 0;
      @include absolute(3px,3px,3px,3px);
    }
    input[type="checkbox"] + .fake-input:before{
      border-radius: 0;
    }
    input[type="checkbox"]:checked + .fake-input:before,
    input[type="radio"]:checked + .fake-input:before{
      opacity:1;
    }
    .btn-primary{
      min-width: 173px;
      background: $green;
      &:hover,
      &:focus{
        background: $orange;
      }
    }
  }

  .donations-section h3{
    font-size: 20px;
  }
}

.nav-tabs{
  border:0;
  margin: 0 0 30px;
  text-align: $left;
  li{
    margin-bottom: 20px;
    @include inline(top);
    margin-#{$right}: 2%;
    a{
      color: $orange;
      display: block;
      padding: 8px 10px;
      min-width: 132px;
      text-align: center;
      border-radius: 20px;
      text-decoration: none;
      border: 1px solid $orange;
      transition: all 0.3s linear;
      &:hover,
      &.active{
        color: $white;
        background: $orange;
      }
    }
  }
}

.bod-section{
  font-size: 14px;
  direction: if-rtl(ltr);
  .column{
    text-align: $left;
    padding-bottom: 30px;
  }
  .img-holder{
    overflow: hidden;
    margin: 0 0 15px;
    img{
      width: 100%;
      @include img-responsive;
    }
  }
}

.content-section{
  .align-right{
    float: $left;
    width: 275px;
    margin-#{$right}: 2%;
    img{
      width: 100%;
      @include img-responsive;
    }
  }

  h2{
    color: $green;
    margin: 0 0 20px;
    @include font(18,22,700);
  }

  .holder{
    overflow: hidden;
  }

  .description{
    overflow: hidden;
    text-align: $left;
    h2{
      color: $orange;
      &.heading-green{
        color: $green;
      }
    }
    .list{
      margin:0;
      padding: 0 0 20px;
      list-style: none;
      li{
        position: relative;
        padding-bottom: 8px;
        padding-#{$left}: 26px;
        &:after{
          width: 0;
          height: 0;
          content: '';
          border-style: solid;
          border-width: 7px 8px 7px 0;
          transition: all 0.3s linear;
          border-color: transparent #4A4A4A transparent transparent;
          @include absolute(3px, if-ltr(0,0), auto, if-rtl(0,0));
        }
      }
    }
  }
}

.donations-section{
  text-align: center;
  .column{
    padding-bottom: 20px;
  }
  .img-holder{
    overflow: hidden;
    margin: 0 0 15px;
    img{
      width: 100%;
      @include img-responsive;
    }
  }
  h3{
    color: $green;
    font-size: 20px;
    margin: 0 0 12px;
  }
}

.donations-payment{
  text-align: center;
  padding: 50px 0 0;
  .column{
    padding-bottom: 20px;
  }
  .ico{
    width: 70px;
    margin: 0 auto 18px;
    img{
      @include img-responsive;
    }
  }
  .heading{
    display: block;
    font-weight: 400;
    margin: 0 0 6px;
    span{
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
    }
  }
  .sub-heading{
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    span{
      color: #2167DB;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  ul li span{
    color: #2167DB;
    display: inline-block;
  }
}

.partners{
  .column{
    padding-bottom: 40px;
  }
  .text{
    text-align: $left;
    max-width: 620px;
    margin: 0 0 70px;
  }
  .logo-holder{
    width: 100%;
    display: table;
    height: 365px;
    padding: 30px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #979797;
    img{
      margin: 0 auto 20px;
      @include img-responsive;
    }
  }

  .logo-box{
    display: table-cell;
    vertical-align: middle;
  }

  .logos{
    direction: if-rtl(ltr);
  }

  h3{
    font-size: 16px;
    line-height: 20px;
  }
}

.media-section{
  text-align: $left;
  .article{
    overflow: hidden;
    margin: 0 0 24px;
  }
  .align-right{
    float: $left;
    width: 26%;
    margin-#{$right}: 20px;
    border: 1px solid #707070;
    img{
      @include img-responsive;
    }
  }
  .text{
    overflow: hidden;
  }
  h3{
    color: $orange;
  }
}

.media-gallery{
  direction: if-rtl(ltr);
 
  .column{
    padding-bottom: 18px;
    img{
      width: 100%;
      @include img-responsive;
    }
    a{
      display: block;
      color: $white;
      position: relative;
    }
    .caption{
      padding: 20px;
      @include absolute(auto,0,0,0);
    }
    .title{
      float: $left;
      font-size: 20px;
      line-height: 24px;
      font-weight: normal;
    }
    .number{
      float: $right;
      font-size: 18px;
      line-height: 22px;
      position: relative;
      padding-#{$right}: 40px;
      &:before{
        width: 33px;
        height: 24px;
        content: '';
        @include absolute(0, if-ltr(0,auto), auto, if-rtl(0,auto));
        background: url(../images/ico-image.png) no-repeat;
      }
    }
    .btn-play{
      width: 0;
      height: 0;
      content: '';
      margin: -7px 0 0 -7px;
      border-style: solid;
      border-width: 16px 0 16px 22px;
      transition: all 0.3s linear;
      border-color: transparent transparent transparent $green;
      @include absolute(50%,auto,auto,50%);
    }
  }
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}

.map-holder{
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
  &.add{
    margin: 0;
  }
  iframe{
    border: 0;
    width: 100%;
    height: 604px;
  }
  .location-details{
    width: 160px;
    height: 160px;
    font-size: 12px;
    line-height: 16px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin: -80px 0 0 -80px;
    border: 3px solid $green;
    @include absolute(50%, auto, auto, 50%);
    &:after{
      width: 0;
      height: 0;
      content: '';
      margin-left: -16px;
      border-style: solid;
      border-width: 17px 15px 0;
      transition: all 0.3s linear;
      border-color: $green transparent transparent;
      @include absolute(auto,auto,-18px,50%);
    }
    p{
      margin: 0;
    }
    .title{
      display: block;
      font-size: 14px;
      margin: 0 0 5px;
      font-weight: bold;
    }
    .tel{
      color: $green;
      display: block;
      font-size: 16px;
    }
  }
}

.jobs-listing{
  text-align: $left;
  .article{
    padding: 20px 30px;
    overflow: hidden;
    margin: 0 0 30px;
    background: #e7e7e7;
  }
  h3{
    color: $orange;
  }
  .txt{
    float: $left;
    max-width: 660px;
  }
  .btn-primary{
    float: $right;
    min-width: 120px;
    margin-top: 50px;
  }
}

.contact-section{
  padding: 70px 0 0;
  text-align: $left;
  max-width: 870px;
  font-size: 16px;
  line-height: 26px;
  h2{
    color: #000;
    font-size: 24px;
    font-weight: normal;
  }
  h3{
    color: $green;
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: normal;
  }
  p{
    margin: 0 0 7px;
  }
  .tel{
    display: block;
  }
  .tel1{
    display: block;
    font-weight: bold;
  }
  .email a{
    color:#2E3152;
    font-family: 'Open Sans', sans-serif;
  }
}

.contact-details{
  margin-bottom:70px;
}

.contact-form{
  max-width: 660px;
  .column{
    padding-bottom: 12px;
  }
  .form-control{
    background: #ececec;
  }
}

.social-networks{
  margin: 0;
  padding: 0;
  direction: ltr;
  font-size: 20px;
  li{
    padding: 10px 10px 0;
    @include inline(top);
    a{
      color: $orange;
    }
  }
}

#footer{
  padding: 0 0 20px;
  .footer-holder:after{
    clear: both;
    content: '';
    display: block;
  }
  .tweets-block{
    float: $right;
    img{
      @include img-responsive;
    }
  }
  .footer-nav{
    overflow: hidden;
    text-align: $left;
    padding: 13px 0 0;
    min-height: 410px;
    ul{
      width: 13%;
      @include font(14,18);
      @include inline(top);
      padding-#{$right}: 2%;
      li{
        margin: 0 0 4px;
        a{
          color: #4A4A4A;
          min-width: 70px;
          vertical-align: top;
          display: inline-block;
          text-decoration: none;
          &:hover{
            color: $green;
          }
          &.title{
            color: $orange;
            font-weight: bold;
            padding: 0 0 5px;
            margin: 0 0 4px;
            border-bottom: 3px solid #d8d8d8;
          }
        }
      }
    }
  }
  .map-box{
    float: $left;
    padding-top: 30px;
    padding-#{$right}: 2%;
  }

  .copyright-section{
    text-align: $left;
    @include font(12,16);
  }
}

/*======================================
        Some Extra CSS START
======================================*/
.social-sticky{
  z-index: 10;
  width: 54px;
  padding: 10px;
  text-align: center;
  background: $orange;
  margin: -125px 0 0;
  @include fixed(50%, if-rtl(auto, 0), auto, if-ltr(auto, 0));
  li{
    width: 33px;
    height: 46px;
    padding: 15px 0;
    border-top: 1px solid #f8d38f;
    &:first-child{
      border:0;
    }
    a{
      color: #fff;
      font-size: 18px;
      text-decoration: none;
    }
  }
}
/*======================================
        Some Extra CSS END
======================================*/


/*======================================
        Responsive START
======================================*/
@media (max-width: 1500px)  {}
@media (max-width: 1199px)  {
  #header{
    padding: 20px 0 14px;
    .contact-info{
      padding: 0 3%;
    }
    .btn-holder a{
      font-size: 16px;
      line-height: 22px;
      min-width: 145px;
    }
    .waranty-logo{
      margin: -20px 0 0;
    }
  }
  
  #nav{
    padding: if-ltr(22px 0 6px 0);
    > ul{
      font-size: 18px;
      font-size: if-ltr(17px);
      >li{
        padding: if-ltr(0 1.3%);
      }
    }
  }

  .main-gallery{
    .caption .text{
      width: 73%;
    }
    .gallery-title h2{
      font-size: 40px;
      line-height: 50px;
    }
  }

  .quotes-gallery{
    .text{
      width: 73%;
    }
  }

  .intro-section{
    &:after{
      width: 650px;
      height: 700px;
      #{$left}: -150px;
      background-size: 100%;
    }
    .text{
      padding: 20px;
    }
    h1{
      @include font(30,36,700);
    }
    .know-more{
      padding: 20px;
      p{
        margin:0 0 20px;
      }
    }
  }

  .partners .logo-holder{
    height: 300px;
  }
  .jobs-listing .txt{
    max-width: 540px;
  }
}
@media (max-width: 991px){
  .btn-primary{
    font-size: 16px;
  }

  #header{
    padding: 10px 0 4px;
    .logo{
      width: 200px;
    }
    .contact-info{
      padding: 0 1.5%;
      max-width: 320px;
    }
    .tel{
      margin: 0 0 15px;
    }
    .btn-holder a{
      font-size: 14px;
      line-height: 18px;
      min-width: 125px;
      padding: if-rtl(9px 38px 10px 10px), if-ltr(9px 10px 10px 38px);
      &:after{
        top: 6px;
      }
      &.orange:after{
        top:5px;
      }
    }
    .left-panel{
      width: 202px;
    }
    .waranty-logo{
      width: 75px;
      margin: -20px 0 0;
    }
    .brands li{
      width: 40px;
    }
    .info li{
      padding: 0 3px;
    }
  }

  #nav{
    &:after{
      @include absolute(0, if-ltr(0,200), auto, if-rtl(0,200));
    }
    >ul{
      font-size: 16px;
      font-size: if-ltr(13px);
      >li{
        padding: 0 1.5%;
        padding: if-ltr(0 1.1%);
      }
    }
  }

  .quotes-gallery{
    position: static;
    background: #000;
    padding: 10px 0 30px;
    .text{
      padding: 0 15px;
    }
  }
  
  .main-gallery{
    .caption{
      position: static;
      background: #000;
      padding: 10px 0 30px;
      .text{
        padding: 0 15px;
      }
    }
    .gallery-title{
      .holder{
        max-width: 380px;
      }
      h2{
        font-size: 32px;
        line-height: 40px;
      }
    }

    .slick-next,
    .slick-prev{
      top: 50%;
    }
    .slick-dots{
      bottom: 15px;
    }
  }

  .intro-section{
    padding-bottom: 170px;
    &:after{
      width: 500px;
      height: 600px;
      #{$left}: -100px;
      background-size: 100%;
    }
    h1{
      margin: 0 0 10px;
      font-size: 24px;
      line-height: 30px;
    }
    .sub-title{
      font-size: 18px;
      line-height: 22px;
    }
    .know-more{
      font-size: 16px;
      line-height: 20px;
    }
  }

  .video-section{
    padding: 0 15px;
    .description{
      padding: 20px;
      font-size: 16px;
      line-height: 22px;
    }
    h3{
      margin: 0 0 20px;
      font-size: 20px;
      line-height: 24px;
    }
    .video-block iframe{
      height: 265px;
    }
  }

  .partners-section{
    padding: 60px 15px;
    h2{
      margin: 0 0 50px;
    }
  }

  .partners-gallery{
    .logo-holder{
      width: 170px;
      height: 170px;
    }
  }

  .donate-section{
    padding: 60px 15px;
    h3{
      margin: 0 0 5px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  .newsletter-from{
    h3{
      font-size: 18px;
      min-width: 160px;
    }
    .column.add{
      width: 27.5%;
    }
    .btn-primary{
      min-width: 130px;
    }
    .form-control{
      font-size: 16px;
      padding: 0 15px;
    }
  }

  .partners .logo-holder{
    height: 220px;
    img{
      max-width: 70%;
    }
  }

  .media-section .align-right{
    width: 35%;
  }

  #footer{
    .tweets-block{
      display: none;
    }
    .footer-nav{
      min-height: 300px;
      ul{
        width: 13.7%;
      }
    }
  }
}
@media (max-width: 767px){
  body.menu-active{
    overflow: hidden;
    #nav{
      #{$right}:0;
    }
    #header:after{
      opacity: 1;
      visibility: visible;
    }
  }

  #header{
    padding: 10px 0;
    &:after{
      opacity: 0;
      content: '';
      visibility: hidden;
      @include fixed(0,0,0,0);
      background: rgba($color: #000000, $alpha: 0.7);
    }
    .waranty-logo{
      display: none;
    }
    .brands{
      display: none;
    }
    .logo{
      margin: 0;
    }
    .contact-info{
      padding: 0;
      float: $right;
      max-width: 350px;
      padding-#{$right}:70px;
    }
    .btn-holder a{
      margin: 0 3px;
    }
    .holder{
      position: relative;
    }
    .left-panel{
      top:0;
      #{$right}:10px;
      position: absolute;
    }
  }

  #nav{
    z-index: 3;
    position: fixed;
    background: #fff;
    top: 0;
    #{$right}: -280px;
    padding: 0 0 50px;
    width: 280px;
    bottom: 0;
    overflow: auto;
    transition: all 0.3s linear;
    &:after{
      display: none;
    }
    > ul > li{
      padding: 0;
      display: block;
      >a{
        display: block;
        padding: 10px 20px;
        &.active{
          color: $white;
          background: $green;
          &:after{ display: none;}
        }
        &:hover{
          color: $white;
          background: $green;
          &:after{
            display: none;
          }
        }
      }
      >ul{
        margin: 0;
        opacity: 1;
        padding: 0;
        width: auto;
        position: static;
        transform: none;
        text-align: $left;
        >li{
          padding: 8px 30px;
        }
      }
    }
  }

  .intro-section{
    padding: 0;
  }

  .video-section{
    margin: 0;
    padding: 30px 10px 0;
    .btn-play{
      width: 50px;
      height: 50px;
      margin: -25px 0 0 -25px;
      background-size: 100%;
    }
    .holder{
      background: none;
    }
    .description{
      float: none;
      width: auto;
      overflow: hidden;
      background: $orange;
    }
    .video-block{
      img{ width: 100%;}
      iframe{
        height: 200px;
      }
    }
  }

  .partners-section h2{
    margin: 0 0 20px;
  }

  .partners-gallery{
    padding: 0 50px;
    .logo-holder{
      margin: 0 auto;
    }
  }

  .donate-section{
    padding: 30px 10px;
    h2{
      margin: 0 0 30px;
    }
  }

  .newsletter-from{
    padding: 10px 0;
    text-align: center;
    h3{
      text-align: center;
    }
    .column{
      float: none;
      width: auto;
      overflow: hidden;
      margin: 0 0 10px;
      &.add{
        width: auto;
      }
    }
  }

  .banner{
    height: 300px;
  }

  #sidebar{
    ul li a{
      display: block;
      padding: 10px 10px;
      &:after{
        #{$left}:0;
      }
    }
  }

  #content{
    .align-left{
      float: none;
      width: auto;
      overflow: hidden;
      margin: 0 0 20px;
      img{
        width: 100%;
      }
    }
  }

  .nav-tabs{
    text-align: center;
  }

  .content-section{
    .align-right{
      float: none;
      width: auto;
      margin: 0 0 20px;
      overflow: hidden;
    }
  }

  .partners .logo-holder{
    width: 340px;
    height: 340px;
    margin: 0 auto;
    img{
      max-width: 100%;
    }
  }

  #footer{
    .map-box{ display: none;}
    .footer-nav{
      margin: 0 0 20px;
      min-height: inherit;
      ul{
        width: 32.8%;
        padding: 0 1% 10px;
        li a.title{
          display: block;
        }
      }
    }

    .copyright-section{
      text-align: center;
    }
  }
}
@media (max-width: 639px){
  .btn-default,
  .btn-primary {
    padding: 9px;
    min-width: 120px;
    font-size: 16px;
    line-height: 20px;
  }
  .btn-primary{
    padding: 10px;
  }

  #header{
    padding: 10px 0;
    position: relative;
    background: #fff;
    .logo{
      width: 150px;
    }
    .btn-holder{
      display: none;
    }
    .info{
      margin: 0 -15px;
      li{padding: 0 5px;}
    }
    .contact-info{
      display: none;
    }
  }

  .main-gallery{
    .caption{
      display: none;
    }
    .gallery-title{
      margin: -26px 0 0;
      h2{
        font-size: 22px;
        line-height: 26px;
      }
    }
    .slick-next,
    .slick-prev{
      display: none !important;
    }
  }

  .banner{
    height: 250px;
    background-position: 50% 0;
  }

  #main{
    padding: 30px 0;
  }

  #sidebar{
    float: none;
    width: auto;
    overflow: hidden;
    margin: 0 0 30px;
    ul li a{
      display: block;
      padding: 10px 30px;
      &:after{
        #{$left}:0;
      }
    }
  }

  #content{
    border:0;
    padding: 0;
    .align-left.ceo{
      margin: 0 auto;
    }
    .volunter-form .radio-fields label{
      min-width: 90px;
    }
  }

  .partners{
    .column{
      padding-bottom: 20px;
    }
    .logo-holder{
      width: 280px;
      height: 280px;
      margin: 0 auto;
      img{
        max-width: 60%;
      }
    }
  }

  .media-section{
    text-align: center;
    .align-right{
      width: auto;
      float: none;
      max-width: 300px;
      margin: 0 auto 20px;
      img{
        width: 100%;
      }
    }
  }

  .jobs-listing{
    .article{
      padding: 15px;
      margin: 0 0 20px;
      text-align: center;
    }
    .btn-primary{
      float: none;
      margin: 0;
    }
  }

  .quotes-gallery{
    padding: 10px 20px 50px;
    .logo{
      display: block;
      width: 150px;
      margin: 0 auto 20px;
    }
    .text{
      width: auto;
      border:0;
      padding: 0;
      text-align: center;
    }
  }
}